header {
  border-bottom: 2px solid rgb(182, 116, 116);
  height: 65px;
  text-align: center;
  font-size: 3em;
  color: rgb(182, 116, 116);
  margin-bottom: 2em;
}

p {
  color: rgb(182, 116, 116);
  text-align: center;
}

.github_loign_button {
  text-align: center;
}
